#! /bin/sh
set -e
. /usr/share/debconf/confmodule

db_input medium scache/usedebconf || true
db_go || true

db_get scache/usedebconf
if [  $RET = true ]; then
      db_input medium scache/port || true
      db_input medium scache/uiport || true
      db_input medium scache/parentproxy || true
      db_input medium scache/cachesize || true
      db_input medium scache/offlineuse || true
      db_go || true
fi
